@{
    ViewData["Title"] = "Welcome ";
    Layout = "_Layout";
}

<h1>@ViewData["Title"]</h1>

<p>contact me here! <a href="mailto:cakmakkadriye45@gmail.com"> cakmakkadriye45@gmail.com </a>.</p>
<div align="center"><img src="https://media.giphy.com/media/hQX6VtqhlnNHn6HjWf/giphy.gif" alt="giph" /></div>

